<div class="row" style="border:2px solid black; margin:0 auto; padding:20px;">
    <div class="col-md-2">
        CourseId
    </div>
    <div class="col-md-10">
        <input type="text" id="txtCourseId" class="form-control" placeholder="Enter category CourseId" />
    </div>

    <div class="col-md-2">
        Name
    </div>
    <div class="col-md-10">
        <input type="text" id="txtCategoryName" class="form-control" placeholder="Enter category Name" />
    </div>

    <div class="col-md-2">
        Content
    </div>
    <div class="col-md-10">
        <input type="text" id="txtCategoryContent" class="form-control" placeholder="Enter category Content" />
    </div>

    <div class="col-md-12">
        <button class="btn btn-primary" onclick="SaveCategory()">Save category</button>
        <button class="btn btn-danger">Reset</button>
    </div>
</div>

@section Scripts {
    <script src="~/js/TSjCategory2.js"></script>
<script>

</script>
}